


.footer{
    color:black;
    max-width: auto;
    margin-top: 300px;
    text-align: center;
    border-style: none;
    
     
}



body{
  background-image: url('https://image.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} 



.container {

  border-style: none;

}
.card {
    color:black;
    border-style: hidden;
    border-color: #cccccc;
 
}

